{
  "extends": [
    "prettier",
    "plugin:tailwindcss/recommended",
    "next/core-web-vitals",
    "next/typescript",
    "plugin:@typescript-eslint/recommended",
  ],
  "plugins": ["tailwindcss"],
  "rules": {
    "@typescript-eslint/consistent-type-imports": "warn",
    "tailwindcss/no-custom-classname": "off",
    "@next/next/no-img-element": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "args": "all",
        "argsIgnorePattern": "^_",
        "caughtErrors": "all",
        "caughtErrorsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "ignoreRestSiblings": true,
      },
    ],
  },
  "settings": {
    "tailwindcss": {
      "callees": ["cn", "twMerge", "twJoin", "clsx"],
      "config": "tailwind.config.js",
    },
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js"],
      "parser": "@typescript-eslint/parser",
    },
  ],
}
