@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  padding: 0;
  margin: 0;
}

#root {
  overflow: hidden;
}

html {
  --white: 0, 0%, 100%; /*hsl(0, 0%, 100%)*/
  --foreground: 209, 40%, 86%; /* hsl(209, 40%, 86%)*/
  --background: 240, 14%, 3%; /*hsl(2240, 14%, 3%)*/

  font-family: 'Helvetica Now Display Thin';
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.p3d {
  transform-style: preserve-3d;
}

.bg-blur {
  width: 1250px;
  height: 500px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(123, 123, 123, 0.4) 25%,
    rgba(89, 142, 228, 0.4) 72.5%,
    rgba(30, 32, 44, 0.4) 100%
  );
  filter: blur(100px);
  border-radius: 333px;
}
