@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  padding: 0;
  margin: 0;
}

html {
  --white: 0, 0%, 100%; /*hsl(0, 0%, 100%)*/
  --primary: 240, 14%, 3%; /*hsl(240, 14%, 3%)*/
  background-image: url('/svg/noise.svg');
  overflow: hidden;
  background-color: hsl(var(--primary));
}

.p3d {
  transform-style: preserve-3d;
}

.bg-blur {
  position: absolute;
  width: 1440px;
  height: 800px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(123, 123, 123, 0.4) 17.5%,
    rgba(89, 142, 228, 0.4) 72.5%,
    rgba(30, 32, 44, 0.4) 100%
  );
  filter: blur(200px);
  border-radius: 333px;
}
